* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: black;
    letter-spacing: 5px;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 40px 15px;
}

.header .cart-icon {
    position: absolute;
    right: 15px;
}

/* Navbar */
.navbar .main-menu ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
}

.hero .container .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    margin-bottom: 40px;
}

.men-ladies-tshirts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
    
}

.men-ladies-tshirts img {
   width: 100%

}

.men-ladies-tshirts p{
    display: flex;
    justify-content: center;
    margin: 20px ;
}

.men-ladies-tshirts button {
    padding: 10px 45px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 37%;
    
}

 

/* Utilities Classes */

/* Text */
.text-lg {
    font-size: 1.5rem;
    color: black;
}

.text-md {
    font-size: 1.1rem;
    color: #241d1c;
}

.text-sm {
    font-size: 0.9rem;
}

/* Buttons */
.btn {
    padding: 10px 45px;
    background: white;
}

/* Image */
img {
    /* if we put img in certain div then it does't break out of div */
    max-width: 100%;
}
 