* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    max-height: 100vh;
    min-width: 100vw;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: black;
    letter-spacing: 5px;
}

h4 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 40px 15px;
}

.header .cart-icon {
    position: absolute;
    right: 15px;
}

/* Navbar */
.navbar .main-menu ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
}

/* Hero */
.hero .container .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    margin-bottom: 40px;
}

.body {
    margin: 0;
    padding: 0;
}


p {
    font-size: 13px;
    font-weight: 300;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 12px;
}

.item-image {
    margin: 24px 0 8px;
    width: 100%;
    position: relative;
    padding-top: 100%;
    /* For maintaining aspect ratio */
}

.item-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 13px;
    color: black;
}

.price {
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0 10px 32px 10px;
    padding: 0;
    list-style: none;
}


.grid a {
    text-decoration: none;
}

.grid div {
    flex-basis: 33%;
    
}

/* Utilities Classes */

/* Text */
.text-lg {
    font-size: 1.5rem;
    color: black;
}

.text-md {
    font-size: 1.1rem;
    color: #241d1c;
}

.text-sm {
    font-size: 0.9rem;
}

/* Buttons */
.btn {
    padding: 10px 45px;
    background: white;
}

/* Media Queries */
@media only screen and (max-width: 768px) {

    .navbar {
        display: none;
    }
    .cart img , button{
        display: none;
    }
    .grid div {
        flex-basis: 50%;
    }
}

